@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4" style="background:#c00000;color:white;font-weight:bold;">
            Blazing Pizza
        </div>

        <article class="content px-4">
            @Body
        </article>

    </main>

</div>